.d-block{
    width: 300px;
    height: 500px;
}
.carousel-inner{
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    background-color: rgb(8, 7, 7);
    height: 80vh;
}
.img{

    height:500px;
    width:900px;
    margin-bottom: 0;
    margin-left: 18%;
    
}
.img:hover{
    height:505px;
    width:905px;
}
body{
   background-color: #EBE3D5; 
}
hr{
    margin-left: 45%;
    width:26vb;
    color: #0b2e33 ;
    border: solid;
    border-bottom: none;
    
}
h2{
    color: #164863;
    font-family: 'Bree Serif', serif;
}

    .para{
        font-family: 'Bree Serif', serif;
        font-size: 1.1rem;
    }
   .div2{
    width: 60vb;
   }
    